// CUSTOM
// add borders for each color
@import colors-tools
@import "bulma/sass/utilities/derived-variables"
@each $name, $pair in $colors
  $color: nth($pair, 1)
  .has-border-#{$name}
    border: 1px solid $color !important
  @if length($pair) >= 4
    $color-light: nth($pair, 3)
    $color-dark: nth($pair, 4)
    // Light
    .has-border-#{$name}-light
      border: 1px solid $color-light !important
    // Dark
    .has-border-#{$name}-dark
      border: 1px solid $color-dark !important

@each $name, $pair in $custom-colors
  @if length($pair) >= 4
    $color-active: nth($pair, 2)
    $color-light: nth($pair, 3)
    $color-dark: nth($pair, 4)
    $color-hover: nth($pair, 5)
    $color-light-active: nth($pair, 6)
    $color-light-hover: nth($pair, 7)
    // active
    .has-border-#{$name}-active
      border: 1px solid $color-active !important
    .has-background-#{$name}-active
      background-color: $color-active !important
    .has-text-#{$name}-active
      color: $color-active !important
    // Light
    .has-border-#{$name}-light
      border: 1px solid $color-light !important
    .has-background-#{$name}-light
      background-color: $color-light !important
    .has-text-#{$name}-light
      color: $color-light !important
    // Dark
    .has-border-#{$name}-dark
      border: 1px solid $color-dark !important
    .has-background-#{$name}-dark
      background-color: $color-dark !important
    .has-text-#{$name}-dark
      color: $color-dark !important
    // Hover
    .has-border-#{$name}-hover
      border: 1px solid $color-hover !important
    .has-background-#{$name}-hover
      background-color: $color-hover !important
    .has-text-#{$name}-hover
      color: $color-hover !important
    // Light active
    .has-border-#{$name}-light-active
      border: 1px solid $color-light-active !important
    .has-background-#{$name}-light-active
      background-color: $color-light-active !important
    .has-text-#{$name}-light-active
      color: $color-light-active !important
    // Light active
    .has-border-#{$name}-light-hover
      border: 1px solid $color-light-hover !important
    .has-background-#{$name}-light-hover
      background-color: $color-light-hover !important
    .has-text-#{$name}-light-hover
      color: $color-light-hover !important

.is-representation
  --color-active: #{$representation-active}
  --color-hover: #{$representation-hover}
  --color: #{$representation}
  --color-light: #{$representation-light}
  --color-light-active: #{$representation-light-active}
  --color-light-hover: #{$representation-light-hover}
  --color-dark: #{$representation-dark}

.is-cooperation
  --color-active: #{$cooperation-active}
  --color-hover: #{$cooperation-hover}
  --color: #{$cooperation}
  --color-light: #{$cooperation-light}
  --color-light-active: #{$cooperation-light-active}
  --color-light-hover: #{$cooperation-light-hover}
  --color-dark: #{$cooperation-dark}

.is-transparency
  --color-active: #{$transparency-active}
  --color-hover: #{$transparency-hover}
  --color: #{$transparency}
  --color-light: #{$transparency-light}
  --color-light-active: #{$transparency-light-active}
  --color-light-hover: #{$transparency-light-hover}
  --color-dark: #{$transparency-dark}

.is-participation
  --color-active: #{$participation-active}
  --color-hover: #{$participation-hover}
  --color: #{$participation}
  --color-light: #{$participation-light}
  --color-light-active: #{$participation-light-active}
  --color-light-hover: #{$participation-light-hover}
  --color-dark: #{$participation-dark}

.is-no-pillar
  --color-active: #{$no-pillar-active}
  --color-hover: #{$no-pillar-hover}
  --color: #{$no-pillar}
  --color-light: #{$no-pillar-light}
  --color-light-active: #{$no-pillar-light-active}
  --color-light-hover: #{$no-pillar-light-hover}
  --color-dark: #{$no-pillar-dark}

$body-color: $shade-600
$text: $shade-600
$label-color: $shade-800
