/* The utilities that cannot be used after compiling
 should be in tools.sass and not in app.sass */
@import "tools"

@import "colors"

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/base/_all.sass"
@import "../node_modules/bulma/sass/helpers/color.sass"
@import "../node_modules/bulma/sass/helpers/typography.sass"
@import "../node_modules/bulma/sass/helpers/spacing.sass"
@import "../node_modules/bulma/sass/helpers/flexbox.sass"
@import "../node_modules/bulma/sass/elements/button.sass"
@import "../node_modules/bulma/sass/elements/container.sass"
@import "../node_modules/bulma/sass/elements/title.sass"
@import "../node_modules/bulma/sass/form/_all.sass"
@import "../node_modules/bulma/sass/components/breadcrumb.sass"
@import "../node_modules/bulma/sass/components/navbar.sass"
@import "../node_modules/bulma/sass/layout/section.sass"
@import "../node_modules/bulma/sass/grid/columns.sass"
@import "../node_modules/bulma/sass/components/menu.sass"
@import "../node_modules/bulma/sass/components/tabs.sass"
@import "../node_modules/bulma/sass/components/level.sass"

.is-flex
  display: flex

.is-block
  display: block

.flex-center
  justify-content: center
  align-items: center

.is-size-6bis
  font-size: 0.875em !important

.has-border-transparent
  border: 1px solid transparent

hr
  background-color: hsl(0, 0%, 77%)
  height: 1px

// we use directly svg as icons, so we need to add spacing
.control
  // Modifiers
  &.has-icons-left,
  &.has-icons-right
    .icon
      top: 8px
  &.has-icons-left
    .icon.is-left
      left: 8px
  &.has-icons-right
    right: 8px

// Custom sass
@import "inputs"

.container.is-tight
  @include tablet
    max-width: 760px !important
